/**
  * @name OldProfileUi
  * @version 1.1
  * @author @Shiro
  * @source 
  * @description Old user profile
*/

    /*Old user profile*/
    
    .visual-refresh .panels_c48ade {
        right: var(--space-xs) !important;
        left: auto;
        bottom: var(--space-xs);
        width: calc(100% - var(--space-xs) * 2 - var(--custom-guild-list-width));
    }

.visual-refresh .guilds_c48ade {
	margin-bottom: 0;
}
	
